@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus,
  textarea:focus,
  button:focus,
  a:focus {
    @apply outline-none ring-2 ring-offset-1 ring-primary ring-opacity-70;
  }

  a {
    @apply text-primary;
  }

  /* Hides side arrows/spin button of input box.*/
  /* Price filter input box  */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

/* Slick width fix */
* {
  min-width: 0;
  min-height: 0;
}

/* Service Detail Card */
.service-detail-card .gr-icon-share {
  font-size: 0.75rem;
  cursor: pointer;
}

.service-detail-card .gr-primary path {
  stroke: rgb(59, 130, 246);
}

/* Remove cursor border in Search Component */
#react-select-true-input {
  box-shadow: none;
}

.remove-input-txt-border input[type='text']:focus {
  box-shadow: none;
}

/* Hide scrollbar in Tablist in mobile view */
.tablist::-webkit-scrollbar {
  display: none;
}

.tablist {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Change react slick next button view */
.slick-prev,
.slick-next {
  font-size: 20px !important;
}

/* Change react slick prev button view */
.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

/* Responsive promo video in product section */
.promo-video-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: -56.25%;
}

.promo-video {
  position: absolute;
  top: 0;
  left: 0;
}

/* new homepage */
.skew-pic {
  --tw-skew-x: 12deg;
}

.vertical-line-1 {
  top: 19.5rem;
  height: 20rem;
}

.vertical-line-2 {
  bottom: 15rem;
  height: 23rem;
}

a:focus,
button:focus {
  box-shadow: none !important;
}

#searchSolutionInput {
  opacity: 1 !important;
}

.blog-card {
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.blog-card:hover {
  top: -8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
/* Tailwind only support heights till 24rem and
  we needed heights greater than that.
  These heights will not be used anywhere else,
  that's why I'm not adding this in tailwind.config.js */
@media only screen and (max-width: 500px) {
  .homepage {
    height: 10em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .homepage {
    height: 8.125em;
  }
}
